<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>BIBLE CHAMP App</name>

<description>
A simple App  for RCCG Team.
</description>

<author href="https://rccg.org" email="info@rccg.org">
RCCG Software Development Team
</author>

<preference name="phonegap-version" value="3.3.0" />
</widget>
